*{
  background-color:#25201B;
}

.schedule{
  display:flex;
  justify-content:center;
}
.container{
  background-color:#25201B;
  width: 975px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.hourDivider{
  width: 30px
  height: 500px;
}
.hour{
  position:relative;
  width:30px;
  height:49px;
  background-color:#25201B;
}
.hourText{
  position:absolute;
  top:2px;
  right:2px;
  font-family: 'bebas_neueregular';
  background-color: #25201B;
  color:white;

}

.day{
  width: 175px;
  height:500px;
  background-color: #25201B;
  color: white;
  text-align:center;
}
.dayTextContainer{
  position:relative;
  top:0px;
  width:171px;
  height:50px;
  margin-left:2px;
  margin-right:2px;
}
.dayText{
  position:absolute;
  bottom:0px;
  left:80px;
  font-family: 'bebas_neueregular';
  font-size:150%;
}

.class1{
  position:relative;
  top:150px;
  width:171px;
  height:46px;
  border:2px solid #25201B;
  background-color:#3F51B5;
}
.class1:hover{
  background-color:#313F8C;
}
.class2{
  position:relative;
  top:150px;
  width:171px;
  height:96px;
  border:2px solid #25201B;
  background-color:#F44336;
}
.class2:hover{
  background-color:#8C251D;
}
.class3{
  position:relative;
  width:171px;
  height:96px;
  border:2px solid #25201B;
  background-color:#009688;
}
.class3:hover{
  background-color:#008C7E;
}
.class4{
  position:relative;
  width:171px;
  height:96px;
  border:2px solid #25201B;
  background-color:#FF9800;
}
.class4:hover{
  background-color:#A66300;
}
.class5{
  position:relative;
  width:171px;
  height:146px;
  border:2px solid #25201B;
  background-color:#673AB7;
}
.class5:hover{
  background-color:#502D8C;
}

.classText{
  background-color:rgba(0,0,0,0);
  position: absolute;
  bottom:0px;
  right:5px;
  font-family: 'bebas_neueregular', serif;
  font-size:150%;
}
li{
  background-color: rgba(0,0,0,0);
}
.class1 .classHidden{
  background-color:rgba(0,0,0,0);
  position: absolute;
  text-align:right;
  bottom:3px;
  right:0;
  visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size:90%;
}
.class1:hover .classText{
  visibility: hidden;
}

.class1:hover .classHidden{
  visibility: visible;
}

.class2 .classHidden{
  background-color:rgba(0,0,0,0);
  position: absolute;
  text-align:right;
  bottom:3px;
  right:0;
  visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size:90%;
}
.class2:hover .classText{
  visibility: hidden;
}

.class2:hover .classHidden{
  visibility: visible;
}
.class3 .classHidden{
  background-color:rgba(0,0,0,0);
  position: absolute;
  text-align:right;
  bottom:3px;
  right:0;
  visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size:90%;
}
.class3:hover .classText{
  visibility: hidden;
}

.class3:hover .classHidden{
  visibility: visible;
}
.class4 .classHidden{
  background-color:rgba(0,0,0,0);
  position: absolute;
  text-align:right;
  bottom:3px;
  right:0;
  visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size:90%;
}
.class4:hover .classText{
  visibility: hidden;
}

.class4:hover .classHidden{
  visibility: visible;
}
.class5 .classHidden{
  background-color:rgba(0,0,0,0);
  position: absolute;
  text-align:right;
  bottom:3px;
  right:0;
  visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size:90%;
}
.class5:hover .classText{
  visibility: hidden;
}

.class5:hover .classHidden{
  visibility: visible;
}


h1{
  font-family: 'bebas_neueregular', serif;
  font-size:3em;
  color:white;
  text-align: center;
}
