*{
  background-color:#25201B;
}
.schedule{
  display:flex;
  justify-content:center;
}
.container{
  background-color:#25201B;
  width: 975px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.hourDivider{
  width: 100px;
  height: 500px;
}
.hour{
  position:relative;
  width:100px;
  height:49px;
  background-color:#25201B;
}
.hourText{
  position:absolute;
  top:2px;
  right:2px;
  font-family: 'Bebas Neue', serif;
  background-color: #25201B;
  color:white;

}

.day{
  width: 175px;
  height:500px;
  background-color: #25201B;
  color: white;
  text-align:center;
}
.dayTextContainer{
  position:relative;
  top:0px;
  width:171px;
  height:50px;
  margin-left:2px;
  margin-right:2px;
}
.dayText{
  position:absolute;
  bottom:0px;
  left:80px;
  font-family: 'Bebas Neue', serif;
  font-size:150%;
}

.class1{
  position:relative;
  top:150px;
  width:171px;
  height:46px;
  border:2px solid #25201B;

}
.class2{
  position:relative;
  top:150px;
  width:171px;
  height:96px;
  border:2px solid #25201B;
}
.class3{
  position:relative;
  width:171px;
  height:96px;
  border:2px solid #25201B;}
.class4{
  position:relative;
  width:171px;
  height:96px;
  border:2px solid #25201B;
}
.class5{
  position:relative;
  width:171px;
  height:146px;
  border:2px solid #25201B;
}

.c1{
  background-color:#3F51B5;
}
.c2{
  background-color:#F44336;
}
.c3{
  background-color:#009688;
}
.c4{
  background-color:#FF9800;
}
.c5{
  background-color:#673AB7;
}
.classText{
  position: absolute;
  bottom:0px;
  right:5px;
  font-family: 'Bebas Neue', serif;
  font-size:150%;
}

h1{
  font-family: 'Bebas Neue', serif;
  font-size:3em;
  color:white;
  text-align: center;
}
